/* Fixes */
p {
    text-align: left;
    margin: 0;
}
header {
    ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    }
    a{color: #727272}
    a:hover, a:focus {
    color: #727272;
    text-decoration: underline;
    }
}


/* Media queries */

@media screen and (max-width: 420px) {
  /* Styles for small phones */
}

@media screen and (min-width: 600px) {
  /* Styles for tablets and large phones */
}

@media screen and (min-width: 992px) {
  /* Styles for larger screens */
}

@media screen and (min-width: 1599px) {
  /* Styles for larger screens */
    .wrapper {width: 1200px;}
    section {width: 860px;}
}
